*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body{
  position: absolute;
  margin:0;
  padding:0;
  border: 0;
  width:100%;
  height:100%;
  /*so that inline-block elements won't move over with whitespace*/
  font-size: 0;
  background-color: #000;
  color:#eee;
  background-size: cover;
}
html, body, div, li, ol, ul, span, p, img, a, h1, h2, h3{
  user-select: none;
}

#main{
  color: white;
  font-size: 20px;
}
